/*
BUTTONS GEOMETRY
___
# class .button in (_parts/buttons.scss)
*/

$button-gap: 1rem;
$button-height: 3rem;
$button-border-radius: 4px;
$button-border: #86BE5C;

%buttonsGeometry {
  position: relative;
  display: inline-block;
  height: $button-height;
  padding: 0 ($button-gap * 2);
  background-color: transparent;
  border: 2px solid $green;
  border-radius: $button-border-radius;
  font-size: 1rem;
  text-decoration: none;
  text-transform: none;
  transition: $default-transition;
  color: $black;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}