// color
$light-gray: #CECECE;

.header{
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
}
.nav-burger{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25px;
  height: 20px;
  align-self: center;
  margin: 0 auto;

  div{
    width: 100%;
    height: 2px;
    background-color: $black;
  }
  div:nth-child(2){
    width: 75%;
  }
}
.nav-burger.active{
  div:first-child{
    transform: translateY(9px) rotate(45deg);
  }
  div:nth-child(2){
    opacity: 0;
  }
  div:last-child{
    transform: translateY(-9px) rotate(-45deg);
  }
}
.header-logo{
  height: 5rem;
  margin: 0 auto;
}
.header-info{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-item{
  display: flex;
  align-items: center;
  margin-right: 10px;

  .header-info-icon{
    margin-right: 10px;
  }
  .header-info-text{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
}

.header-btn{
  display: flex;
  justify-content: center;
  align-items: center;

  i{
    display: none;
    font-size: 2em;
    color: white;
  }
}

.header-line{
  width: 100%;
  height: 1px;
  background-color: $light-gray;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-item{
    text-transform: uppercase;
  }
  .nav-line{
    height: 1em;
    width: 1px;
    background-color: $light-gray;
  }
  i{
    color: $light-gray;
  }
}

@media screen and (max-width: 1000px){
  .header{
    grid-template-columns: 1fr 1.5fr 5fr 1fr;
    padding: 0;
  }
  .nav-burger{
    display: flex;
  }
  .header-logo{
    padding: 15px;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
  .header-btn{
    background-color: #86be5c;
    border-radius: 0;
    height: 100%;
    span{
      display: none;
    }
    i{
      display: inline;
    }
  }

  .navigation{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    .nav-line{
      display: none;
    }
    .nav-item,
    .header-item{
      padding: 15px 25px;
      width: 100%;
    }
    .nav-link-service{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $light-gray;
    }
    .header-item{
      border-top: 1px solid $light-gray;
    }
  }
}

@media screen and (max-width: 750px){
  .header{
    grid-template-columns: 1fr 1fr 3fr 1fr;
  }
  .header-logo{
    padding: 10px;
  }
  .header-link-phone{
    margin-right: 20px;
  }
  .header-btn{
    i{
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 400px){
  .header-logo{
    height: 3.5rem;
  }
}