<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="banner">
  <img class="banner-img" src="img/Banner.jpg" alt="Banner">

  <div class="banner-text">
    <div class="container banner-container">
      <h1><b>Обслуживание и ремонт</b></br>медицинской техники</h1>
  
      <div class="banner-list">
        <div class="banner-list-item">
          <img src="img/icon/Economy.svg" alt="">
          <h4>Экономия</h4>
        </div>      
        <div class="banner-list-item">
          <img src="img/icon/Connection.svg" alt="">
          <h4>Всегда на связи</h4>
        </div>      
        <div class="banner-list-item">
          <img src="img/icon/Service.svg" alt="">
          <h4>Качественный сервис</h4>
        </div>
      </div>
  
      <button class="button banner-btn">Оформить заявку <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
  
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>